<?xml version="1.0" encoding="UTF-8"?>
<Меню>
	<Холодные_закуски id="1">
		<Название>Ассорти рыбное</Название>
		<Описание>Слабосоленая форель, семга</Описание>
		<Порция>100/20/15</Порция>
		<Цена></Цена>

	</Холодные_закуски>
	
	<Холодные_закуски id="2">
		<Название>Тарталетки с красной икрой</Название>
		<Описание>Тарталетки с красной икрой</Описание>
		<Порция>60/50</Порция>
		<Цена></Цена>
		
	</Холодные_закуски>
	
	<Холодные_закуски id="3">
		<Название>Закуска по-русски</Название>
		<Описание>Кусочки атлантической сельди с отварным картофелем,
		луком, лимоном и зеленью
		</Описание>
		<Порция>70/50/2/10</Порция>
		<Цена></Цена>
		
	</Холодные_закуски>
	
	<Холодные_закуски id="4">
		<Название>Куриный рулет</Название>
		<Описание>Куриный рулет собственного производства
		</Описание>
		<Порция>100/5</Порция>
		<Цена></Цена>
		
	</Холодные_закуски>
	
	<Холодные_закуски id="5">
		<Название>Баструма</Название>
		<Описание>Вяленая вырезка из говяжьего мяса
		</Описание>
		<Порция>50/5</Порция>
		<Цена></Цена>
		
	</Холодные_закуски>
	
	<Холодные_закуски id="6">
		<Название>Ассорти баклажаны</Название>
		<Описание>Жареные баклажаны с помидорами
			<Доп_описание>с помидорами</Доп_описание>
			<Доп_описание>с чесноком</Доп_описание>
			<Доп_описание>с орехами</Доп_описание>
		</Описание>
		<Порция>50/5</Порция>
		<Цена></Цена>
		
	</Холодные_закуски>
	
	<Горячие_закуски id="1"> 
		<Название>Лобио с шампиньонами</Название>
		<Описание>Фасоль с шампиньонами и грецким орехом</Описание>
		<Порция>150/5</Порция>
		<Цена>105</Цена>
	
	</Горячие_закуски>

	<Горячие_закуски id="2">
		<Название>Жульен</Название>
		<Описание>
			<Доп_описание>с курицей</Доп_описание>
			<Доп_описание>с грибами</Доп_описание>
		</Описание>
		<Порция>120/1</Порция>
		<Цена>1.145</Цена>
	
	</Горячие_закуски>
	
	
	<Горячие_закуски id="4">
		<Название>Ахтамар с овощами</Название>
		<Описание>Колбаса, ветчина, буженина, сыр, запеченые
		на мангале в лаваше</Описание>
		<Порция>1 шт.</Порция>
		<Цена>165</Цена>
	
	</Горячие_закуски>

	<Горячие_закуски id="5">
		<Название>Сюрприз</Название>
		<Описание></Описание>
		<Порция>1 шт.</Порция>
		<Цена>260</Цена>
	
	</Горячие_закуски>

	<Горячие_закуски id="6">
		<Название>Креветки</Название>
		<Описание>
			<Доп_описание>отварные</Доп_описание>
			<Доп_описание>жареные</Доп_описание>
		</Описание>
		<Порция>1 шт.</Порция>
		<Цена>260</Цена>
	
	</Горячие_закуски>
	
	<Завтраки id="1">
		<Название>Глазунья</Название>
		<Описание>2 яйца (на выбор: ветчина, сыр, помидоры)</Описание>
		<Порция>150</Порция>
		<Цена></Цена>
	</Завтраки>

	<Завтраки id="2">
		<Название>Омлет</Название>
		<Описание></Описание>
		<Порция>150</Порция>
		<Цена></Цена>
	</Завтраки>
	
	<Завтраки id="3">
		<Название>Блинчики с мясом</Название>
		<Описание>Жареные блинчики с мясом</Описание>
		<Порция>150</Порция>
		<Цена></Цена>
	</Завтраки>
</Меню>